body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}
.drawingBoard {
  display: grid;
  background-color: gray;
  height: 550px;
  width: 550px;
}
.grid {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
